// ====================================== //
//               Variables                //
// ====================================== //



// =================================


// Colors

$white: #fff; //white
$offwhite: #A7A4BA;
$color-text: #777; //Grey
$color-primary: #7A6FC1;
$color-secondary: #504873;
$color-accent: #FBFBFB;
$color-border: #D1D1D1;
$color-h3: #666666;
$color-green-accent: #5FD090;

// Fonts

$font-stack-primary: 'Arial Unicode MS', sans-serif;

// Breakpoint

$break-s: 380px;
$break-m: 768px;

// Layout
$max-width: 1150px;
