/* ============================================= */
/*                   Grid Layout                 */
/* ============================================= */


header          {grid-area: head;}
nav             {grid-area: navi;}
main            {grid-area: main;}
.dashboard      {grid-area: dash;}
.alert          {grid-area: aler;}
.traffic        {grid-area: traf;}
.dailyTraffic   {grid-area: dtra;}
.mobileUsers    {grid-area: mobi;}
.socialStats    {grid-area: socs;}
.newMembers     {grid-area: memb;}
.recentActivity {grid-area: rece;}
.messageUser    {grid-area: mess;}
.settings       {grid-area: sets;}

.bodyGrid{
    display: grid;
    grid-template-areas: 
        "head"
        "navi"
        "main";
    grid-template-rows: auto;
    grid-template-columns: 100%;
}



@media (min-width: $break-m) {
    .bodyGrid{
        grid-template-areas: 
            "head head"
            "navi main";
        grid-template-columns: 80px 1fr;
        grid-template-rows: 80px;
    }


    .mainGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "dash dash"
            "aler aler"
            "traf traf"
            "dtra mobi"
            "socs socs"
            "memb rece"
            "mess sets";
    }
}

// @media (max-width: $break-m) {
//     .bodyGrid {

//     }
// }