//====================================//
//              Sections              //
//====================================//

* {
    overflow: auto;
}

// main {
//     max-width: $max-width;
// }

section {
    padding: 30px;
    display: block;
    margin: 30px;
    border: 1px $color-border solid;
    margin: 0;
}

h3{
    margin-top: 0;
    color: $color-h3;
    text-transform: uppercase;
    display: inline-block;
}

.mockChartHalf, .mockChartFull{
    max-width: 100%;
}

//====================================//
//               Header               //
//====================================//

header{
    background-color: $color-primary;
    height: 80px;
}

h1 span {
    font-weight: 600;
}

h1 {
    color: $white;
    padding: 20px 30px;
    margin: 0 auto;
    display: inline-block;
}

.userDiv {
    float: right;
    color: $offwhite;
    padding: 20px;
}

.notificationBell{
    opacity: 70%;
    transition: ease-in .2s;
    width: 30px;
    height: 30px;
    float: left;
}

.notificationBell:hover{
    opacity: 100%;
}

.notificationAlert {
    height: 8px;
    width: 8px;
    background-color: $color-green-accent;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: -6px;
  }

.bellDiv {
    float: left;
    padding-right: 25px;
    border-right: 1px $color-secondary solid;
    position: relative;
}

.userProfPic{
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 25px;
}

.userName p {
    color: $white;
    display: block;
    float: right;
    padding-left: 10px;
}

.notificationDropdown {
    position: absolute;
    z-index: 100;
    right: 250px;
    padding: 10px;
    background-color: $white;
    border: $color-secondary 2px solid;
    border-radius: 2px;
    display: none;
    background-color: $color-accent;
}

.notificationDropdown p{
    margin: 0 0 10px 0;
}

.singleNotification {
    display: flex;
    padding: .75em;
    border-top: $color-border 1px dotted;    

}

.singleNotification:not(:first) {
    border-top: $color-border 1px dotted;    
}


.notText{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.notText p {
    margin: 0;
    text-align: left;
}

.notText p:nth-child(2) {
    margin: 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);

}

//====================================//
//             Navigation             //
//====================================//

nav{
    background-color: $color-secondary;
}

.navIcon {
    height: 35px;
    width: 35px;
    color: $offwhite;
    margin: 20px 0 20px 20px;
    flex-direction: row;
    opacity: 50%;
    transition: ease-in .2s;
}

.navIcon:hover{
    opacity: 100%;
}

.selected {
    opacity: 100%;
    border-left: $color-green-accent 2px solid;
}

@media (min-width: $break-m) {
    // nav{
    //     padding: 20px;
    // }

    .navicon{
        padding: 20px;
    }
}

//====================================//
//          Dashboard Tab             //
//====================================//

.dashboard{
    background-color: $color-accent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $color-border 1px solid;
}

.headline{
    background-color: $white;
    padding: 22px;
    border-right: $color-border 1px solid;
    border-bottom: none;
    margin: 0;
}

.mainHeaderSearch{
    display: flex;
    justify-content: center;
    width: 30%;
}

.mainHeaderSearch input{
    width: 100%;
    padding: 2px;
    margin: 18px;
    border: $color-border 2px solid;
    border-radius: 4px;
}

//====================================//
//                Alert               //
//====================================//

.alert{
    margin: 10px;
    background-color: $color-primary;
    border-radius: 3px;
}

.alert p, .alertBannerClose {
    color: $white;
    margin: 10px 0;
}

.alert p{
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

.alertBannerClose{
    display: block;
    float: right;
    padding-right: 20px;
}

.alertBannerClose:hover{
    cursor: pointer;
}

//====================================//
//               Traffic              //
//====================================//

.trafficNav{
    float: right;
    margin-left: auto;
    margin-top: 0;
}

.trafficNavLink, .activeNavLink{
    display: inline-block;
    margin-left: 20px;
    color: $color-h3;
    padding: 10px;
    cursor: pointer;
    transition: ease-in .2s;
    border-radius: 20px;
}

.activeNavLink{
    color: $white;
    background-color: $color-green-accent;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }
}

.traffic{
    border-top: none;
}

//====================================//
//            Daily Traffic           //
//====================================//

//====================================//
//             Mobile Users           //
//====================================//

//====================================//
//               Social               //
//====================================//

.socialStats {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.socialContainer {
    background-color: $color-accent;
    border: $color-border 1px solid;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 1.5em;
}

.socialText{
    display: flex;
    flex-direction: column;
}

.socialText h4{
    color: $color-primary;
    display: block;
    padding-left: 20px;
    float: left;
    font-size: 1.5em;
    margin: 0;
}

.socialText p{
    font-size: 2.5em;
    text-align: left;
    color: #000;
    padding-left: 20px;
    margin: 0;
    display: block;
    float: left;
}

.socialIcon{
    float: left;
}

.socialImage {
    height: 100%;
    width: 25%;
    float: left;
    background-color: $color-primary;
    border-radius: 50%;
    color: transparent;
}

.socialLogo {
    width: 3em;
    position: relative;
    left: 1.5em;
    top: 1.5em;
}

@media (min-width: 768px) {
    .socialContainer {
        width: 33%;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .socialStats {
        flex-direction: row;
    }

    .socialText p{
        font-size: 3.5em;
    }
}


//====================================//
//             New Members            //
//====================================//

.NewMembersContainer{
    padding: 10px 0;
    display: block;
}

.NewMembersContainer:not(:last-child) {
    border-bottom: $color-border 1px solid;
}

.profileImage{
    border-radius: 50%;
    width: 50px;
}

.newMembersText{
    display: inline-block;
    padding-left: 10px;
}

.newMembersText p {
    margin: 0;
    text-align: left;
}

.joinDate {
    display: block;
    float: right;
}

.newMembersText a{
    text-decoration: none;
    color: $color-primary;
}

//====================================//
//          Recent Activity           //
//====================================//

.recentActivityContainer{
    padding: 10px 0;
    display: block;
}

.recentActivityContainer:not(:last-child) {
    border-bottom: $color-border 1px solid;
}

.recentActivityText{
    display: inline-block;
    padding-left: 10px;
}

.recentActivityText p {
    margin: 0;
    text-align: left;
}

.recentActivityText p:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
}

//====================================//
//           Message User             //
//====================================//

.formField,
.formArea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 14px;
    background: rgb(238, 238, 238);
    border: $color-border 2px solid;
    border-radius: 4px;
}

.formField::placeholder,
.formArea::placeholder {
    font-size: 1.15em;
    color: rgba(0,0,0,.3);
}

.formField:focus,
.formArea:focus {
    border: 2px $color-secondary solid;
    transition-duration: .3s;
}

.formArea {
    height: 150px;
}

.buttonPrimary {
    width: 100%;
    font-size: 1.25em;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    color: $white;
    background-color: $color-primary;
    padding: 12px 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  //AutoComplete

  .autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

//====================================//
//               Settings             //
//====================================//

.switch-light{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkDiv{
    position: relative;
}

.button-disabled,
.button-primary {
    cursor: pointer;
    width: 45%;
    font-size: 1.25em;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    color: $white;
    background-color: $color-primary;
    padding: 12px 0;
    margin: 0;
    display: block;
    text-align: center;
  }
