section {
    display: block;
    margin: 30px;
    border: 1px black solid;
}

.navIcon, .bellDiv {
    height: 20px;
    width: 20px;
    background-color: green;
}

.socialImage {
    height: 5em;
    width: 5em;
}

h3{
    color: red;
}