//====================================//
//              Sections              //
//====================================//

* {
    overflow: auto;
}

main {
    max-width: $max-width;
}

section {
    padding: 3em;
    display: block;
    margin: 30px;
    border: 1px $color-border solid;
    margin: 0;
}

h3{
    color: $color-h3;
    text-transform: uppercase;
    display: inline-block;
}

.mockChartHalf{
    max-width: 450px;
}

.mockChartFull{
    max-width: 850px;
}

//====================================//
//               Header               //
//====================================//

header{
    background-color: $color-primary;
}

h1 span {
    font-weight: 600;
}

h1 {
    color: $white;
    padding: 20px 30px;
    margin: 0 auto;
    display: inline-block;
}

.bellDiv {
    float: right;
    color: $offwhite;
    padding: 20px;
}

.notificationBell{
    opacity: 70%;
    transition: ease-in;
    width: 30px;
    height: 30px;
}

.notificationBell:hover{
    opacity: 100%;
}

.notificationAlert {
    height: 8px;
    width: 8px;
    background-color: $color-green-accent;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 28px;
    margin-left: -10px;
  }

//====================================//
//             Navigation             //
//====================================//

nav{
    background-color: $color-secondary;
    padding: 20px;
}

.navIcon {
    height: 35px;
    width: 35px;
    color: $offwhite;
    margin-top: 20px;
    flex-direction: row;
    opacity: 50%;
    transition: ease-in .2s;
}

.navIcon:hover{
    opacity: 100%;
}

.selected {
    opacity: 100%;
    border-left: $color-green-accent 2px solid;
}

//====================================//
//          Dashboard Tab             //
//====================================//

//====================================//
//                Alert               //
//====================================//

//====================================//
//               Traffic              //
//====================================//

.trafficNav{
    float: right;
    margin-left: auto;
    margin-top: 0;
}

.trafficNavLink, .trafficNavLinkActive {
    display: inline-block;
    margin-left: 20px;
    color: $color-h3;
    padding: 10px;
}

.trafficNavLinkActive{
    color: $white;
    background-color: $color-green-accent;
    border-radius: 20px;
}

//====================================//
//            Daily Traffic           //
//====================================//

//====================================//
//             Mobile Users           //
//====================================//

//====================================//
//               Social               //
//====================================//

.socialStats {
    display: flex;
    justify-content: space-around;
}

.socialContainer {
    background-color: $color-accent;
    border: $color-border 1px solid;
    margin-left: 20px;
    border-radius: 3px;
    width: 33%;
}

.socialText{
    float: right;
}

.socialText h4{
    color: $color-primary;
    display: inline-block;
    padding-left: 20px;
    float: left;
}

.socialText p{
    font-size: 2em;
    color: #000;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
}

.socialIcon{
    width: 56px;
    height: 56px;
}

.socialImage {
    height: 6em;
    width: 6em;
    float: left;
    background-color: $color-primary;
    border-radius: 50%;
    color: transparent;
}



//====================================//
//             New Members            //
//====================================//

.profileImage{
    border-radius: 50%;
    width: 30px;
}

//====================================//
//          Recent Activity           //
//====================================//

//====================================//
//           Message User             //
//====================================//

//====================================//
//               Settings             //
//====================================//